@use "./variables.scss" as *;

#about-me {
  padding: 120px 0;

  @media (max-width: 767px) {
    padding-top: 70px;
    overflow: hidden;
  }

  .container {
    max-width: 1200px;
    margin: auto;

    .about-me-content {
      display: flex;
      gap: 60px;

      @media (max-width: 1200px) {
        gap: 40px;
      }

      @media (max-width: 767px) {
        flex-direction: column-reverse;
        position: relative;
      }

      .img {
        width: 40%;
        height: 100%;
        aspect-ratio: 3/4;
        position: relative;

        @media (max-width: 767px) {
          width: 90%;
          max-width: 300px;
          align-self: center;
        }

        &::after {
          content: "";
          width: 90%;
          height: auto;
          aspect-ratio: 3 / 4;
          border-radius: 10px;
          box-shadow: -2px 0px 8px 0px rgba(222, 222, 222, 1);
          display: block;
          border: 8px solid $mainColor;
          position: absolute;
          top: 45px;
          bottom: 3%;
          right: 3%;
          z-index: -1;
          box-sizing: border-box;
        }

        img {
          width: 90%;
          height: auto;
          object-fit: contain;
          aspect-ratio: 3/4;
          border-radius: 10px;
          box-shadow: -2px 0px 8px 0px rgba(222, 222, 222, 1);
        }
      }

      .details {
        width: calc(60% - 60px);

        @media (max-width: 1200px) {
          position: relative;
          padding-bottom: 76px;
          width: calc(60% - 40px);
        }

        @media (max-width: 767px) {
          width: 100%;
          padding-bottom: 0;
          position: static;
        }

        h3 {
          line-height: 1.5;
          opacity: 0.9;
          color: $black;
          font-weight: 600;
          font-size: 30px;
          margin-bottom: 20px;
        }

        p {
          font-size: 16px;
          line-height: 26px;
          font-weight: 400;
          color: $blackText;
          margin-bottom: 10px;

          @media (max-width: 1200px) {
            font-size: 14px;
          }
        }

        .details-info {
          display: flex;
          flex-direction: column;
          gap: 15px;
          margin-top: 30px;

          li {
            display: flex;
            gap: 10px;

            span {
              display: block;
              color: $blackText;
              font-size: 15px;
              overflow-wrap: anywhere;

              @media (max-width: 1200px) {
                font-size: 14px;
              }

              &:first-child {
                display: block;
                width: 130px;
                min-width: 130px;
                color: $black;
                font-weight: 600;

                @media (max-width: 430px) {
                  width: 110px;
                  min-width: 110px;
                }

                @media (max-width: 390px) {
                  width: 95px;
                  min-width: 95px;
                }
              }
            }
          }
        }
      }
    }
  }
}
