@use "./variables.scss" as *;

.about-me {
  width: 100%;

  h3 {
    padding-top: 70px;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 20px;
    color: $purple;

    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
  }

  .about-me-content {
    width: 100%;

    p {
      text-align: justify;
      line-height: 1.5;
      margin: 20px 0;
      width: 100%;

      @media (min-width: 768px) {
        order: 1;
        width: 60%;
      }
    }

    @media (min-width: 768px) {
      width: 100%;
      display: flex;
    }
  }

  .photo-jt {
    display: block;
    margin: auto;
    border-radius: 50%;
    height: 300px;

    @media (min-width: 768px) {
      order: 2;
    }
  }
}
