@use "./variables.scss" as *;

.background-header,
.background-footer {
  width: 100%;
  background: $gradientBg;
  background-size: 300% 300%;
  animation: Gradient 15s ease infinite;
  position: relative;
  overflow: hidden;

  .square {
    position: absolute;
    border: solid 1px $softWhite;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: square 12s ease-in forwards infinite;
  }
}

.background-header {
  height: 100%;

  .square {
    position: absolute;
    left: 10vw;
    top: 85vh;
    width: 8px;
    height: 8px;

    @media (min-width: 768px) {
      left: 35vw;
      top: 85vh;
    }
  }
  .square:nth-child(2) {
    animation-delay: 2s;
    left: 40vw;
    top: 18vh;
  }
  .square:nth-child(3) {
    animation-delay: 4s;
    left: 85vw;
    top: 50vh;
  }
  .square:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .square:nth-child(5) {
    animation-delay: 8s;
    left: 15vw;
    top: 55vh;

    @media (min-width: 768px) {
      left: 15vw;
      top: 65vh;
    }
  }
  .square:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
}

.background-footer {
  .square {
    left: 40%;
    top: 25%;
    width: 5px;
    height: 5px;
  }
  .square:nth-child(2) {
    animation-delay: 2s;
    left: 80%;
    top: 60%;
  }
  .square:nth-child(3) {
    animation-delay: 4s;
    left: 15%;
    top: 65%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes square {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
