@use "./variables.scss" as *;

.menu-btn {
  height: 24px;
  width: 35px;
  cursor: pointer;
  margin: 0 0 0 auto;

  @media (min-width: 768px) {
    display: none;
  }

  span,
  span::before,
  span::after {
    background: $white;
    border-radius: 3px;
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
  }

  span {
    &::before {
      margin-top: -10px;
    }

    &::after {
      margin-top: 10px;
    }
  }
}

#close-menu {
  height: 24px;
  width: 35px;
  cursor: pointer;
  margin: 0 0 0 auto;

  @media (min-width: 768px) {
    display: none;
  }

  span,
  span::before,
  span::after {
    background: $mainColor;
    border-radius: 3px;
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
  }
}

.btn-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 125px;
  width: fit-content;
  background-color: $white;
  border: 1px solid $white;
  font-size: 13px;
  padding: 15px 30px;
  color: $mainColor;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    color: $black;
  }
}

.btn-about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border: 1px solid $black;
  width: fit-content;
  padding: 12px 55px;
  margin-top: 40px;
  color: $black;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 30px;
  min-height: 50px;

  &:hover {
    color: $white;
    background: $mainColor;
    border-color: $mainColor;
  }
}

.btn-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  background-color: $white;
  border: 1px solid $black;
  color: $black;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 12px 55px;
  min-height: 50px;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 500;
  margin: 60px auto 40px;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    background-color: $mainColor;
    border-color: $mainColor;
    color: $white;
  }
}

.btn-back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  background-color: transparent;
  padding: 0;
  border: 0;

  @media (min-width: 768px) {
    bottom: 20px;
    right: 20px;
  }

  &:hover {
    cursor: pointer;
  }
}

.btn-back-to-top-img {
  width: 40px;

  @media (min-width: 768px) {
    width: 50px;
  }
}
