@use "./variables.scss" as *;

.footer {
  width: 100%;
  height: auto;
  padding: 90px 0;
  position: relative;
  z-index: 0;

  @media (max-width: 767px) {
    padding: 70px 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $grayBg;
    z-index: -1;
  }

  .container {
    max-width: 1200px;
  }

  h3 {
    color: $white;
    line-height: 1.5;
    opacity: 0.9;
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 900px) {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }

  .contact-to-me {
    display: flex;
    gap: 30px;

    @media (max-width: 900px) {
      flex-direction: column-reverse;
      gap: 50px;
    }
  }
}

.contact {
  width: calc(50% - 15px);

  @media (max-width: 900px) {
    width: 100%;
  }

  h2 {
    color: $white;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 20px;
    padding-top: 20px;

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }
  }

  > div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &.regon {
      margin-bottom: 30px;
    }

    span {
      display: block;
      color: $white;
      overflow-wrap: anywhere;

      @media (max-width: 390px) {
        font-size: 13px;
      }

      &:first-child {
        display: block;
        width: 130px;
        min-width: 130px;
        color: $white;
        font-weight: 400;

        @media (max-width: 430px) {
          width: 110px;
          min-width: 110px;
        }

        @media (max-width: 390px) {
          width: 95px;
          min-width: 95px;
        }

        @media (max-width: 360px) {
          width: 80px;
          min-width: 80px;
        }
      }
    }
  }

  .footer-buttons {
    display: flex;
    gap: 10px;
    margin-top: 30px;
  }
}

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 275px;
  height: 0;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  font-family: inherit;
  box-sizing: border-box;
  box-shadow: $shadow;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;

  &.open {
    overflow: visible;
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  &.modal-error {
    .modal-icon {
      background-color: $errorColor;
    }

    .button {
      background-color: $errorColor;

      &:hover {
        background: darken($errorColor, 10%);
      }
    }
  }

  .modal-icon {
    position: absolute;
    background: $successColor;
    border-radius: 50%;
    color: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px #fff solid;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    top: -32px;
  }

  .modal-title {
    font-weight: 300;
    color: #333;
    text-align: center;
    margin-top: 45px;
    font-size: 22px;
    opacity: 0;
    animation: fadeUp 0.8s linear alternate;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;
  }

  .modal-text {
    font-weight: 300;
    color: #696969;
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    line-height: 1.5;
    display: block;
    animation: fadeUp 0.8s linear alternate;
    opacity: 0;
    animation-delay: 2.8s;
    animation-fill-mode: forwards;
  }

  .button {
    outline: none;
    appearance: none;
    border: none;
    width: 100%;
    margin-top: 40px;
    background: $successColor;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    opacity: 0;
    animation: fadeUp 0.8s linear alternate;
    animation-delay: 3s;
    animation-fill-mode: forwards;

    &:hover {
      background: darken($successColor, 10%);
    }

    .button-label {
      color: #fff;
      font-weight: 300;
      font-size: 18px;
    }
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
