@use "./variables.scss" as *;

header {
  width: 100%;
  height: 100%;
  color: $white;
  z-index: 1;

  .header-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-areas:
      "nav"
      "text"
      "img"
      "scroll";

    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 60px auto 60px;
      grid-template-areas:
        "nav nav"
        "text img"
        "scroll scroll";
    }
  }
}

nav {
  grid-area: nav;
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: $white;
  box-shadow: $shadow;

  .menu-mobile {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 1.2em;
      color: $pink;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  @media (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
    box-shadow: none;
  }
}

.navigation {
  width: 100%;
  background-color: $white;
  position: absolute;
  top: 33px;
  height: 100vh;
  margin: 20px 0;

  li {
    padding: 20px 0;
    font-weight: 400;
  }

  a {
    text-decoration: none;
    color: $purple;
    font-size: 1.4em;
    font-weight: 400;

    &:hover {
      font-weight: 600;
    }

    @media (min-width: 768px) {
      color: $white;
      font-size: 1.3em;
      padding: 15px;
    }

    @media (min-width: 992px) {
      font-size: 1.4em;
      padding: 30px;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    top: 0;
    background-color: transparent;
  }
}

.d-none {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.header-text {
  grid-area: text;

  .hello {
    font-size: 1.5em;
    margin-top: 15%;
    margin-bottom: 30px;
    text-transform: uppercase;

    @media (min-width: 992px) {
      margin-top: 25%;
    }
  }

  .header-name {
    font-size: 2em;
    margin-bottom: 30px;
    font-weight: 400;
    white-space: nowrap;

    @media (min-width: 576px) {
      font-size: 2.5em;
    }

    @media (min-width: 768px) {
      font-size: 3em;
    }
  }

  @media (min-width: 768px) {
    padding-left: 10% !important;
  }
}

.header-img {
  grid-area: img;
  text-align: center;
  align-self: center;
  z-index: 1;

  img {
    height: 35vh;
    width: auto;

    @media (min-width: 992px) {
      margin-top: 15%;
      width: 70%;
      height: auto;
    }
  }

  @media (min-width: 768px) {
    text-align: right;
    padding-right: 10%;
  }

  @media (min-width: 992px) {
    text-align: left;
    padding: 0;
  }
}

.scroll-btn-container {
  grid-area: scroll;
}
