@use "./variables.scss" as *;

.typing-animation {
  margin-bottom: 40px;

  .typing-name {
    width: 21ch;
    animation: Typing 3s steps(21), 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 1.8em;
    font-family: "Roboto Mono", monospace;
    color: $white;

    @media (min-width: 576px) {
      font-size: 2.1em;
    }

    @media (max-width: 400px) {
      font-size: 1.5em;
    }
  }
}

@keyframes Typing {
  from {
    width: 0;
  }
}
