<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <style>
      html::after {
        content: "";
        width: 100%;
        height: 100%;
        z-index: 99999;
        background: #fff url("<%= require('./img/loader.svg') %>") center
          no-repeat;
        background-size: 60px;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
      }
      html.preloader-hidden::after {
        display: none !important;
        content: none;
      }
      body {
        overflow-x: clip;
      }
    </style>
    <link rel="stylesheet" href="main.css" />
    <script>
      var preloader = document.getElementsByTagName("html")[0];
      function hidePreloader() {
        setTimeout(function () {
          setTimeout(function () {
            preloader.classList.add("preloader-hidden");
          }, 200);
        }, 0);
      }
    </script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-H27T7WC4VM"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-H27T7WC4VM");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Hi, I'm Justyna, a frontend developer specializing in designing and building websites."
    />
    <meta
      name="keywords"
      content="frontend developer, portfolio, web development, HTML, CSS, JavaScript, React, Krakow, Kraków, Cracow"
    />
    <meta name="author" content="Justyna Tomczyk" />

    <title>Justyna Tomczyk · Frontend Developer Portfolio</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Mono&display=swap"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%= require('html-loader!./header.html').default %>
    <div id="content-website">
      <%= require('html-loader!./about-me.html').default %>
      <%=require('html-loader!./skills.html').default %>
      <%=require('html-loader!./projects.html').default %>
    </div>
    <%= require('html-loader!./footer.html').default %>
    <%=require('html-loader!./btn-back-to-top.html').default %>

    <script>
      hidePreloader();
    </script>

    <script src="main.js"></script>
  </body>
</html>
