@use "./variables.scss" as *;

#projects {
  padding: 90px 0 80px;
  background-color: $white;
  position: relative;
  z-index: 0;

  @media (max-width: 767px) {
    padding: 70px 0 60px;
  }

  .container {
    max-width: 1500px;
  }

  h3 {
    line-height: 1.5;
    opacity: 0.9;
    color: $black;
    font-weight: 600;
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
    color: $black;

    @media (max-width: 767px) {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }

  .all-projects {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 10px 10px 50px;

    .swiper-pagination {
      bottom: 0;

      .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background: $grayDark;

        &.swiper-pagination-bullet-active {
          background: $mainColor;
        }
      }
    }

    .project {
      position: relative;
      transition: all 0.5s ease-out;
      border-radius: 10px;
      box-shadow: $shadow;

      &:hover {
        .overlay {
          opacity: 1;
          visibility: visible;
        }
      }

      a {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      .overlay {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(133, 91, 249, 0.9);
        border-radius: 10px;
        justify-content: flex-end;
        padding: 30px;
        align-content: flex-start;

        .overlay-text {
          line-height: 1.5;
          opacity: 0.9;
          color: $white;
          font-weight: 500;
          font-size: 25px;
          text-align: left;
        }

        button {
          background-color: transparent;
          color: $white;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          border: none;
          border-radius: 100%;
          padding: 20px;
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          justify-content: center;
          display: flex;
          flex-direction: column;
          gap: 6px;

          &::before {
            content: "";
            display: block;
            width: 45px;
            height: 45px;
            background: url("./img/logo-github.png") no-repeat center;
            background-size: contain;
          }
        }
      }
    }
  }
}
