@use './variables.scss' as *;

$scrollHeight: 40px;
$scrollWidth: 20px;
$scrollColor: $black;
$scrollWheelColor: $scrollColor;
$hoverTransition: 0.2s ease-in-out;
$scrollHoverColor: $green;
$scrollWheelHoverColor: $scrollHoverColor;

.scroll-btn-container {
    text-align: center;

    .scroll-outer {
        position: relative;
        display: inline-block;

        height: $scrollHeight;
        width: $scrollWidth;

        border: 2px solid $scrollColor;
        border-radius: $scrollHeight;
        
        transition: border-color $hoverTransition;

        .scroll-wheel {
        $wheelWidth: #{calc($scrollWidth / 6)};
        $halfWheelWidth: #{calc($scrollWidth / 12)};

        position: absolute;
        top: 10%;
        left: 50%;
        margin-left: -$halfWheelWidth;

        height: #{calc($scrollHeight / 4)};
        width: $wheelWidth;
        background-color: $scrollWheelColor;

        border-radius: $wheelWidth;
        
        transition: background-color $hoverTransition;
        
        animation: scroll 1.4s infinite linear;
    }
    
    &:hover {
        border-color: $scrollHoverColor;

        .scroll-wheel {
            background-color: $scrollWheelHoverColor;
        }
    }
    }
}

@keyframes scroll {
  0% {
    transform: scaleY(0.5) translateY(0);
  }
  20% {
    transform: scaleY(1) translateY(#{calc($scrollHeight / 8)});
  }
  60% {
    transform: scaleY(0.5) translateY(15px);
  }
  to {
    transform: scaleY(0.5) translateY(0);
  }
}
