@use "./variables.scss" as *;

.skills {
  padding: 40px 30px 0 30px;

  h3 {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 40px;
    color: $pink;

    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
  }

  @media (min-width: 576px) {
    padding: 0 70px;
  }

  @media (min-width: 768px) {
    padding: 60px 90px;
  }
}

.all-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 10px;

  .skills-content {
    width: 140px;
    height: auto;
    background-color: $white;
    border: 5px solid transparent;
    border-radius: 50px;
    box-shadow: $shadow;
    transition-duration: 400ms;
    display: flex;
    padding: 10px 20px;

    img {
      width: 25px;
      height: auto;
      display: block;
      margin: 0 10px 0 5px;
      object-fit: contain;

      @media (min-width: 576px) {
        width: 45px;
        margin: 0 20px 0 10px;
      }
    }

    p {
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: 500;
    }

    &:hover {
      color: $pink;
    }

    @media (min-width: 576px) {
      width: 215px;
    }
  }
  @media (min-width: 576px) {
    gap: 15px;
  }

  @media (min-width: 1050px) {
    gap: 20px;
  }
}
