@use "./variables.scss" as *;

.skills {
  h3 {
    padding-top: 70px;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 40px;
    color: $pink;

    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
  }
}

.all-skills {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;

  .skills-content {
    width: 48%;
    height: auto;
    background-color: $white;
    border-radius: 50px;
    box-shadow: $shadow;
    transition-duration: 400ms;
    display: flex;
    padding: 10px 20px;
    margin-bottom: 10px;

    img {
      width: 30px;
      height: auto;
      margin-right: 10px;
      object-fit: contain;

      @media (min-width: 576px) {
        width: 45px;
      }
    }

    p {
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: 500;

      @media (min-width: 450px) {
        font-size: 1.1em;
      }
    }

    &:hover {
      color: $pink;
    }

    @media (min-width: 650px) {
      width: 32%;
    }

    @media (min-width: 850px) {
      width: 24%;
    }
  }

  @media (min-width: 650px) {
    justify-content: center;
    gap: 10px;
  }
}
