@use "./variables.scss" as *;
@use "./reset.scss";
@use "./header.scss";
@use "./header-animation.scss";
@use "./buttons.scss";
@use "./scroll-button.scss";
@use "./about-me.scss";
@use "./skills.scss";
@use "./projects.scss";
@use "./footer.scss";
@use "./form.scss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: $white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;

  .container {
    max-width: 1500px;
    padding: 0 40px;
    margin: auto;

    @media (max-width: 767px) {
      padding: 0 20px;
    }
  }
}
