@use "./variables.scss" as *;
@use "./reset.scss";
@use "./bg-animation.scss";
@use "./header.scss";
@use "./header-animation.scss";
@use "./buttons.scss";
@use "./scroll-button.scss";
@use "./about-me.scss";
@use "./skills.scss";
@use "./projects.scss";
@use "./footer.scss";
@use "./form.scss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  color: $black;
  background-color: $white;
  height: 100%;

  .content {
    width: 100%;
    height: auto;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .container-padding {
    padding: 0 30px;

    @media (min-width: 768px) {
      padding: 0 40px;
    }

    @media (min-width: 992px) {
      padding: 0 50px;
    }
  }

  .full-h {
    height: 100%;
  }

  @media (min-width: 450px) {
    font-size: 18px;
  }
}
