/*Color*/
$mainColor: #4c00ff;
$white: #fff;
$black: #000;
$blackText: #5d5d5d;
$grayDark: #8b8b8b;
$grayBg: #27353b;
$gradientBg: -webkit-linear-gradient(
  90deg,
  rgb(76 135 206 / 90%) 0%,
  rgba(127, 86, 253, 0.9) 100%
);
$shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
$errorColor: #e44043;
$successColor: #15bc74;
