/*Color*/
$softWhite: #fefdfb;
$white: #fff;
$black: #000;
$gradientBg: linear-gradient(130deg, #fc3480, #4b10af, #181b38);
$pink: #fc3480;
$purple: #4b10af;
$shadow: 0px 0px 39px -22px rgb(133 133 133);
